<!DOCTYPE html>
{% load static %}

<html>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>


    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <style type="text/css">
      body {
        background-image: url("/static/img/background.jpg");
        color: #EEE;
      }

    </style>
</head>

<body>
<div class="container"> {% if submitted %} Your Ticket Has Been Submitted Successfully! {% else %}
    <h2>Ticket Raising Form</h2>

    <form method="POST" id="create-ticket-form" data-handlers-url="{% url 'load_handlers' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="button" onclick="createTicket()" value="Create the Ticket" class="btn btn-primary">
        <a href="/TicketingApp/home">
            <button type="button" class="btn btn-primary">Home</button>
        </a>
    </form>
    {% endif %}
</div>
</body>
<script>
    let companyElement = $("#id_company")
    companyElement.change(function() {
      var url = $("#create-ticket-form").attr("data-handlers-url"); // get the url of the `load_handlers` view
      var companyId = companyElement.val(); // get the selected company ID from the HTML input
      $.ajax({ // initialize an AJAX request
        url: url, // set the url of the request (= localhost:8000/TicketingApp/load-handlers/)
        data: {
          'company': companyId // add the company id to the GET parameters
        },
        success: function(data) { // `data` is the return of the `load_handlers` view function
          $("#id_handler").html(data); // replace the contents of the handler input with the data that came from the server
        }
      });
    });
</script>
</html>