<!DOCTYPE html> {% load static %} <html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'js/index.js' %}"></script>
    <style>
      table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
      }

      th,
      td {
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2
      }
    </style>
  </head>
  <body>
    <h2>Result Table</h2>
    <div style="overflow-x:auto;">
      <table>
        <tr>
          <th>Ticket Number</th>
          <th>Vendor</th>
          <th>Product</th>
          <th>Severity</th>
          <th>Current Handler</th>
          <th>Current State</th>
          <th>Last Comment</th>
        </tr> {% for ticket in ticket_data_list %} <tr>
          <td>{{ ticket.ticketNumber }}</td>
          <td>{{ ticket.company }}</td>
          <td>{{ ticket.product }}</td>
          <td>{{ ticket.severity }}</td>
          <td>{{ ticket.handler }}</td>
          <td>{{ ticket.state }}</td>
          <td>{{ ticket.description }}</td>
          <td>
            <input type="button" onClick="showTicket('{{ ticket.ticketNumber }}')" />
          </td>
        </tr> {% endfor %}
      </table>
    </div>
  </body>
</html>